In [3]:
from prediction import prediction

players_teams = {
    "Mark Williams": "CHA",
    # "Miles Bridges": "CHA",
    # "Jimmy Butler": "GSW",
    "LaMelo Ball": "CHA",
    "Stephen Curry": "GSW",
    # "Brandin Podziemski": "GSW",
    # "Nick Smith Jr.": "CHA",
    "Josh Green": "CHA",
    "Moses Moody": "GSW",
    "Draymond Green": "GSW",
    "Paul George": "PHI",
    "Tyrese Maxey": "PHI",
    "Kelly Oubre Jr.": "PHI",
    "Andre Drummond": "PHI",
    "Shaedon Sharpe": "POR",
    "Quentin Grimes": "PHI",
    "Deni Avdija": "POR",
    "Anfernee Simons": "POR",
    # "Toumani Camara": "POR",
    # "Donovan Clingan": "POR",
    "Bam Adebayo": "MIA",
    "Tyler Herro": "MIA",
    "Andrew Wiggins": "MIA",
    # "Bilal Coulibaly": "WAS",
    # "Alexandre Sarr": "WAS",
    "Khris Middleton": "WAS",
    # "Carlton Carrington": "WAS",
    "Davion Mitchell": "MIA",
    # "Kyshawn George": "WAS",
    "Haywood Highsmith": "MIA"
}


import pandas as pd
date_list = ["2022-23","2023-24","2024-25"]
usage_path = "D:/nba_usage_csv_historic/usage_csv_{date}/{date}_content.csv"
schedule_base_path = "D:/nba_scheduled_csv/schedule_csv_2025/{schedule_team}_schedule_content.csv"
player_base_path = "D:/nba_player_csv_historic/season_{date}/all_quarters/{player}_content.csv"
defense_base_path = "D:/nba_defense_history_csv/defense_csv_{date}/all_quarter_defense_content.csv"

results_reb = prediction(players_teams, date_list, usage_path, player_base_path, defense_base_path, schedule_base_path,'REB','REB')
results_ast = prediction(players_teams, date_list, usage_path, player_base_path, defense_base_path, schedule_base_path,'AST','AST')
results_pts = prediction(players_teams, date_list, usage_path, player_base_path, defense_base_path, schedule_base_path,'PTS','PTS')

# df_combined = pd.concat([results_reb, results_ast, results_pts], axis=0, ignore_index=True)

df_merged = results_reb.merge(results_ast, on='Player').merge(results_pts, on='Player')

df_merged['total_points'] = df_merged[['PTS', 'AST', 'REB']].sum(axis=1)

display(df_merged)

Mark Williams, MAE: 9.868649107779169e-17, RMSE: 2.9605947323337506e-16
{'RANK': 13, 'OffRtg': 113.3, 'W': 32, 'L': 28, 'DefRtg': 111.6, 'NetRtg': 1.7, 'AST%': 70.7, 'AST/TO': 2.1, 'ASTRatio': 20.0, 'OREB%': 31.5, 'DREB%': 71.3, 'REB%': 50.7, 'TOV%': 13.8, 'eFG%': 53.1, 'TS%': 55.9, 'PACE': 99.62, 'POSS': 5988, 'TEAM': 'GSW', 'PIE': 50.4}

   FGA  OREB  DREB
0   12     3     7

LaMelo Ball, MAE: 1.0066022089934752e-15, RMSE: 1.5037956183050831e-15
{'RANK': 13, 'OffRtg': 113.3, 'W': 32, 'L': 28, 'DefRtg': 111.6, 'NetRtg': 1.7, 'AST%': 70.7, 'AST/TO': 2.1, 'ASTRatio': 20.0, 'OREB%': 31.5, 'DREB%': 71.3, 'REB%': 50.7, 'TOV%': 13.8, 'eFG%': 53.1, 'TS%': 55.9, 'PACE': 99.62, 'POSS': 5988, 'TEAM': 'GSW', 'PIE': 50.4}

   OREB  DREB
0     1     4

Stephen Curry, MAE: 2.6645352591003756e-17, RMSE: 9.930136612989092e-17
{'RANK': 29, 'OffRtg': 106.4, 'W': 14, 'L': 45, 'DefRtg': 113.9, 'NetRtg': -7.5, 'AST%': 62.3, 'AST/TO': 1.53, 'ASTRatio': 17.1, 'OREB%': 31.3, 'DREB%': 70.7, 'REB%': 50.1, 'TOV%': 15.7, 'eFG%': 49.9, 'TS%': 53.3, 'PACE': 98.39, 'POSS': 5832, 'TEAM': 'CHA', 'PIE': 45.3}

   OREB  DREB
0     0     2

Josh Green, MAE: 4.533410683886056e-16, RMSE: 5.786665876514104e-16
{'RANK': 13, 'OffRtg': 113.3, 'W': 32, 'L': 28, 'DefRtg': 111.6, 'NetRtg': 1.7, 'AST%': 70.7, 'AST/TO': 2.1, 'ASTRatio': 20.0, 'OREB%': 31.5, 'DREB%': 71.3, 'REB%': 50.7, 'TOV%': 13.8, 'eFG%': 53.1, 'TS%': 55.9, 'PACE': 99.62, 'POSS': 5988, 'TEAM': 'GSW', 'PIE': 50.4}

   OREB  DREB
0     0     1

Moses Moody, MAE: 6.405132834375903e-16, RMSE: 8.806740619834707e-16
{'RANK': 29, 'OffRtg': 106.4, 'W': 14, 'L': 45, 'DefRtg': 113.9, 'NetRtg': -7.5, 'AST%': 62.3, 'AST/TO': 1.53, 'ASTRatio': 17.1, 'OREB%': 31.3, 'DREB%': 70.7, 'REB%': 50.1, 'TOV%': 15.7, 'eFG%': 49.9, 'TS%': 53.3, 'PACE': 98.39, 'POSS': 5832, 'TEAM': 'CHA', 'PIE': 45.3}

   OREB  DREB
0     0     2

Draymond Green, MAE: 5.551115123125783e-16, RMSE: 7.638248345135858e-16
{'RANK': 29, 'OffRtg': 106.4, 'W': 14, 'L': 45, 'DefRtg': 113.9, 'NetRtg': -7.5, 'AST%': 62.3, 'AST/TO': 1.53, 'ASTRatio': 17.1, 'OREB%': 31.3, 'DREB%': 70.7, 'REB%': 50.1, 'TOV%': 15.7, 'eFG%': 49.9, 'TS%': 53.3, 'PACE': 98.39, 'POSS': 5832, 'TEAM': 'CHA', 'PIE': 45.3}

   OREB  DREB
0     1     4

Paul George, MAE: 2.55351295663786e-16, RMSE: 4.1836409184574146e-16
{'RANK': 20, 'OffRtg': 110.9, 'W': 27, 'L': 34, 'DefRtg': 114.5, 'NetRtg': -3.6, 'AST%': 59.2, 'AST/TO': 1.48, 'ASTRatio': 17.1, 'OREB%': 32.3, 'DREB%': 67.9, 'REB%': 49.7, 'TOV%': 16.2, 'eFG%': 52.4, 'TS%': 55.9, 'PACE': 99.5, 'POSS': 6082, 'TEAM': 'POR', 'PIE': 47.0}

   OREB  DREB
0     0     4

Tyrese Maxey, MAE: 6.085666949797155e-16, RMSE: 8.673751016811212e-16
{'RANK': 20, 'OffRtg': 110.9, 'W': 27, 'L': 34, 'DefRtg': 114.5, 'NetRtg': -3.6, 'AST%': 59.2, 'AST/TO': 1.48, 'ASTRatio': 17.1, 'OREB%': 32.3, 'DREB%': 67.9, 'REB%': 49.7, 'TOV%': 16.2, 'eFG%': 52.4, 'TS%': 55.9, 'PACE': 99.5, 'POSS': 6082, 'TEAM': 'POR', 'PIE': 47.0}

   OREB  DREB
0     0     3

Kelly Oubre Jr., MAE: 4.611695640750651e-16, RMSE: 1.0631062744379484e-15
{'RANK': 20, 'OffRtg': 110.9, 'W': 27, 'L': 34, 'DefRtg': 114.5, 'NetRtg': -3.6, 'AST%': 59.2, 'AST/TO': 1.48, 'ASTRatio': 17.1, 'OREB%': 32.3, 'DREB%': 67.9, 'REB%': 49.7, 'TOV%': 16.2, 'eFG%': 52.4, 'TS%': 55.9, 'PACE': 99.5, 'POSS': 6082, 'TEAM': 'POR', 'PIE': 47.0}

   OREB  DREB
0     1     5

Andre Drummond, MAE: 7.266914343001025e-16, RMSE: 1.0371689429453962e-15
{'RANK': 20, 'OffRtg': 110.9, 'W': 27, 'L': 34, 'DefRtg': 114.5, 'NetRtg': -3.6, 'AST%': 59.2, 'AST/TO': 1.48, 'ASTRatio': 17.1, 'OREB%': 32.3, 'DREB%': 67.9, 'REB%': 49.7, 'TOV%': 16.2, 'eFG%': 52.4, 'TS%': 55.9, 'PACE': 99.5, 'POSS': 6082, 'TEAM': 'POR', 'PIE': 47.0}

   OREB  DREB
0     2     4

Shaedon Sharpe, MAE: 2.4884309172632817e-16, RMSE: 5.219636334225421e-16
{'RANK': 24, 'OffRtg': 111.1, 'W': 21, 'L': 38, 'DefRtg': 115.6, 'NetRtg': -4.5, 'AST%': 58.5, 'AST/TO': 1.7, 'ASTRatio': 17.1, 'OREB%': 27.2, 'DREB%': 68.6, 'REB%': 47.1, 'TOV%': 13.7, 'eFG%': 52.7, 'TS%': 56.6, 'PACE': 97.54, 'POSS': 5796, 'TEAM': 'PHI', 'PIE': 46.5}

   OREB  DREB
0     0     2

Quentin Grimes, MAE: 7.727152251391089e-16, RMSE: 1.1365560840976599e-15
{'RANK': 20, 'OffRtg': 110.9, 'W': 27, 'L': 34, 'DefRtg': 114.5, 'NetRtg': -3.6, 'AST%': 59.2, 'AST/TO': 1.48, 'ASTRatio': 17.1, 'OREB%': 32.3, 'DREB%': 67.9, 'REB%': 49.7, 'TOV%': 16.2, 'eFG%': 52.4, 'TS%': 55.9, 'PACE': 99.5, 'POSS': 6082, 'TEAM': 'POR', 'PIE': 47.0}

   OREB  DREB
0     0     3

Deni Avdija, MAE: 2.1316282072803005e-15, RMSE: 2.464595092545993e-15
{'RANK': 24, 'OffRtg': 111.1, 'W': 21, 'L': 38, 'DefRtg': 115.6, 'NetRtg': -4.5, 'AST%': 58.5, 'AST/TO': 1.7, 'ASTRatio': 17.1, 'OREB%': 27.2, 'DREB%': 68.6, 'REB%': 47.1, 'TOV%': 13.7, 'eFG%': 52.7, 'TS%': 56.6, 'PACE': 97.54, 'POSS': 5796, 'TEAM': 'PHI', 'PIE': 46.5}

   OREB  DREB
0     1     5

Anfernee Simons, MAE: 4.282288809268461e-16, RMSE: 6.661338147750939e-16
{'RANK': 24, 'OffRtg': 111.1, 'W': 21, 'L': 38, 'DefRtg': 115.6, 'NetRtg': -4.5, 'AST%': 58.5, 'AST/TO': 1.7, 'ASTRatio': 17.1, 'OREB%': 27.2, 'DREB%': 68.6, 'REB%': 47.1, 'TOV%': 13.7, 'eFG%': 52.7, 'TS%': 56.6, 'PACE': 97.54, 'POSS': 5796, 'TEAM': 'PHI', 'PIE': 46.5}

   OREB  DREB
0     0     2

Bam Adebayo, MAE: 6.579099405186112e-16, RMSE: 1.1842378929335002e-15
{'RANK': 30, 'OffRtg': 105.7, 'W': 11, 'L': 48, 'DefRtg': 117.8, 'NetRtg': -12.1, 'AST%': 63.8, 'AST/TO': 1.56, 'ASTRatio': 17.8, 'OREB%': 27.6, 'DREB%': 69.5, 'REB%': 48.3, 'TOV%': 15.8, 'eFG%': 51.3, 'TS%': 54.7, 'PACE': 102.19, 'POSS': 6050, 'TEAM': 'WAS', 'PIE': 43.6}

   OREB  DREB
0     2     7

Tyler Herro, MAE: 1.167790144420535e-15, RMSE: 1.4579238263750857e-15
{'RANK': 30, 'OffRtg': 105.7, 'W': 11, 'L': 48, 'DefRtg': 117.8, 'NetRtg': -12.1, 'AST%': 63.8, 'AST/TO': 1.56, 'ASTRatio': 17.8, 'OREB%': 27.6, 'DREB%': 69.5, 'REB%': 48.3, 'TOV%': 15.8, 'eFG%': 51.3, 'TS%': 54.7, 'PACE': 102.19, 'POSS': 6050, 'TEAM': 'WAS', 'PIE': 43.6}

   OREB  DREB
0     0     4

Andrew Wiggins, MAE: 7.105427357601002e-16, RMSE: 1.0786889427453089e-15
{'RANK': 30, 'OffRtg': 105.7, 'W': 11, 'L': 48, 'DefRtg': 117.8, 'NetRtg': -12.1, 'AST%': 63.8, 'AST/TO': 1.56, 'ASTRatio': 17.8, 'OREB%': 27.6, 'DREB%': 69.5, 'REB%': 48.3, 'TOV%': 15.8, 'eFG%': 51.3, 'TS%': 54.7, 'PACE': 102.19, 'POSS': 6050, 'TEAM': 'WAS', 'PIE': 43.6}

   OREB  DREB
0     1     3

Khris Middleton, MAE: 4.0091387000352876e-16, RMSE: 5.080946855009476e-16
{'RANK': 18, 'OffRtg': 111.9, 'W': 28, 'L': 31, 'DefRtg': 112.5, 'NetRtg': -0.7, 'AST%': 66.2, 'AST/TO': 1.91, 'ASTRatio': 19.1, 'OREB%': 26.4, 'DREB%': 71.9, 'REB%': 49.4, 'TOV%': 14.0, 'eFG%': 53.8, 'TS%': 57.4, 'PACE': 97.03, 'POSS': 5818, 'TEAM': 'MIA', 'PIE': 50.0}

   OREB  DREB
0     0     3

Davion Mitchell, MAE: 2.9605947323337506e-16, RMSE: 3.79213355752291e-16
{'RANK': 30, 'OffRtg': 105.7, 'W': 11, 'L': 48, 'DefRtg': 117.8, 'NetRtg': -12.1, 'AST%': 63.8, 'AST/TO': 1.56, 'ASTRatio': 17.8, 'OREB%': 27.6, 'DREB%': 69.5, 'REB%': 48.3, 'TOV%': 15.8, 'eFG%': 51.3, 'TS%': 54.7, 'PACE': 102.19, 'POSS': 6050, 'TEAM': 'WAS', 'PIE': 43.6}

   OREB  DREB
0     0     1

Haywood Highsmith, MAE: 8.141635513917814e-16, RMSE: 1.1466334093198022e-15
{'RANK': 30, 'OffRtg': 105.7, 'W': 11, 'L': 48, 'DefRtg': 117.8, 'NetRtg': -12.1, 'AST%': 63.8, 'AST/TO': 1.56, 'ASTRatio': 17.8, 'OREB%': 27.6, 'DREB%': 69.5, 'REB%': 48.3, 'TOV%': 15.8, 'eFG%': 51.3, 'TS%': 54.7, 'PACE': 102.19, 'POSS': 6050, 'TEAM': 'WAS', 'PIE': 43.6}

   OREB  DREB
0     0     2

c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 7.009e+00, tolerance: 1.351e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 9.439e+00, tolerance: 1.340e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.705e+00, tolerance: 1.444e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.577e+00, tolerance: 1.189e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.127e-01, tolerance: 8.732e-03
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.141e-02, tolerance: 1.189e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.964e-02, tolerance: 8.732e-03
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 8.896e+01, tolerance: 6.744e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.636e+01, tolerance: 6.922e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.161e+01, tolerance: 6.897e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 8.457e+01, tolerance: 7.439e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 9.178e+01, tolerance: 6.549e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.045e-01, tolerance: 6.549e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.719e+01, tolerance: 7.520e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.964e+01, tolerance: 9.910e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.090e+02, tolerance: 8.947e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.355e+02, tolerance: 9.466e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.694e+01, tolerance: 8.457e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 9.173e+00, tolerance: 2.969e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 8.035e+00, tolerance: 2.919e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.208e+00, tolerance: 3.339e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.552e+00, tolerance: 3.460e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.237e+00, tolerance: 3.597e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.637e-01, tolerance: 1.236e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.559e-01, tolerance: 1.379e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.084e-01, tolerance: 1.400e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.991e-02, tolerance: 1.444e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 6.281e-02, tolerance: 1.073e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.529e+02, tolerance: 9.200e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.305e+01, tolerance: 8.246e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.215e+02, tolerance: 8.872e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.537e+02, tolerance: 9.142e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.045e+02, tolerance: 9.649e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.371e+02, tolerance: 5.657e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.161e+02, tolerance: 7.178e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.417e+02, tolerance: 6.571e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.135e+02, tolerance: 6.470e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.102e+02, tolerance: 6.524e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.786e-01, tolerance: 7.178e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 8.548e+01, tolerance: 9.779e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 7.303e+01, tolerance: 1.011e-01
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.162e+02, tolerance: 1.043e-01
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.178e+02, tolerance: 9.353e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.961e+01, tolerance: 8.786e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.160e+00, tolerance: 1.043e-01
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.097e+01, tolerance: 2.428e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 5.305e+00, tolerance: 2.476e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.133e+01, tolerance: 2.108e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.369e+01, tolerance: 2.107e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.211e+01, tolerance: 2.310e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 4.099e-02, tolerance: 2.428e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 3.182e-01, tolerance: 6.400e-03
  model = cd_fast.enet_coordinate_descent(

Mark Williams, MAE: 1.0591872779580984, RMSE: 1.2544582808347995
{'RANK': 13, 'OffRtg': 113.3, 'W': 32, 'L': 28, 'DefRtg': 111.6, 'NetRtg': 1.7, 'AST%': 70.7, 'AST/TO': 2.1, 'ASTRatio': 20.0, 'OREB%': 31.5, 'DREB%': 71.3, 'REB%': 50.7, 'TOV%': 13.8, 'eFG%': 53.1, 'TS%': 55.9, 'PACE': 99.62, 'POSS': 5988, 'TEAM': 'GSW', 'PIE': 50.4}

c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.613e+01, tolerance: 1.692e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 2.382e-01, tolerance: 1.639e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.435e+01, tolerance: 1.768e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.552e+01, tolerance: 1.590e-02
  model = cd_fast.enet_coordinate_descent(
c:\Users\mandy\AppData\Local\Programs\Python\Python311\Lib\site-packages\sklearn\linear_model\_coordinate_descent.py:695: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations, check the scale of the features or consider increasing regularisation. Duality gap: 1.792e+00, tolerance: 1.283e-02
  model = cd_fast.enet_coordinate_descent(

   MIN_x  FGM  FGA  3PA  BLK  +/-  team_pace  team_poss
0     29    6   12    0    1   -6         98       5832

LaMelo Ball, MAE: 2.238207551743706, RMSE: 2.719345602349635
{'RANK': 13, 'OffRtg': 113.3, 'W': 32, 'L': 28, 'DefRtg': 111.6, 'NetRtg': 1.7, 'AST%': 70.7, 'AST/TO': 2.1, 'ASTRatio': 20.0, 'OREB%': 31.5, 'DREB%': 71.3, 'REB%': 50.7, 'TOV%': 13.8, 'eFG%': 53.1, 'TS%': 55.9, 'PACE': 99.62, 'POSS': 5988, 'TEAM': 'GSW', 'PIE': 50.4}

   MIN_x  FG%  3PA  FTM  FTA  FT%  OREB  STL  TOV  PF  +/-  RANK  DefRtg  OREB%  TOV%   TS%  team_offrtg
0     30   37   10    3    4   72     1    1    2   2   -3    13   111.6   31.5  13.8  55.9          106

Stephen Curry, MAE: 1.9695371466944847, RMSE: 2.69335535562527
{'RANK': 29, 'OffRtg': 106.4, 'W': 14, 'L': 45, 'DefRtg': 113.9, 'NetRtg': -7.5, 'AST%': 62.3, 'AST/TO': 1.53, 'ASTRatio': 17.1, 'OREB%': 31.3, 'DREB%': 70.7, 'REB%': 50.1, 'TOV%': 15.7, 'eFG%': 49.9, 'TS%': 53.3, 'PACE': 98.39, 'POSS': 5832, 'TEAM': 'CHA', 'PIE': 45.3}

   MIN_x  3PA  3P%  FTM  OREB  REB  STL  BLK  TOV  PF  +/-   W  AST/TO  OREB%  DREB%  TOV%  team_pace  Date_in_Seconds  home_away
0     32   12   36    4     0    3    0    0    2   1    2  14    1.53   31.3   70.7  15.7         99       1738787040          1

Josh Green, MAE: 0.8404403235855739, RMSE: 1.2005666555522607
{'RANK': 13, 'OffRtg': 113.3, 'W': 32, 'L': 28, 'DefRtg': 111.6, 'NetRtg': 1.7, 'AST%': 70.7, 'AST/TO': 2.1, 'ASTRatio': 20.0, 'OREB%': 31.5, 'DREB%': 71.3, 'REB%': 50.7, 'TOV%': 13.8, 'eFG%': 53.1, 'TS%': 55.9, 'PACE': 99.62, 'POSS': 5988, 'TEAM': 'GSW', 'PIE': 50.4}

   MIN_x  FGA  FT%  OREB  PF  +/-  OREB%  TOV%  team_pace  team_offrtg
0     28    6   35     0   1   -6   31.5  13.8         98          106

Moses Moody, MAE: 1.0023784602450385, RMSE: 1.2743914449638318
{'RANK': 29, 'OffRtg': 106.4, 'W': 14, 'L': 45, 'DefRtg': 113.9, 'NetRtg': -7.5, 'AST%': 62.3, 'AST/TO': 1.53, 'ASTRatio': 17.1, 'OREB%': 31.3, 'DREB%': 70.7, 'REB%': 50.1, 'TOV%': 15.7, 'eFG%': 49.9, 'TS%': 53.3, 'PACE': 98.39, 'POSS': 5832, 'TEAM': 'CHA', 'PIE': 45.3}

   MIN_x  FGM  3PM  3PA  +/-  team_pace  home_away
0     26    4    2    5    4         99          1

Draymond Green, MAE: 1.9360096972330278, RMSE: 2.3511858894874664
{'RANK': 29, 'OffRtg': 106.4, 'W': 14, 'L': 45, 'DefRtg': 113.9, 'NetRtg': -7.5, 'AST%': 62.3, 'AST/TO': 1.53, 'ASTRatio': 17.1, 'OREB%': 31.3, 'DREB%': 70.7, 'REB%': 50.1, 'TOV%': 15.7, 'eFG%': 49.9, 'TS%': 53.3, 'PACE': 98.39, 'POSS': 5832, 'TEAM': 'CHA', 'PIE': 45.3}

   MIN_x  FGA  FG%  FTA  FT%  DREB  PF  +/-  RANK  AST/TO  OREB%  TOV%  home_away
0     28    7   42    2   56     4   2    6    29    1.53   31.3  15.7          1

Paul George, MAE: 2.055443589907597, RMSE: 2.6146051590895247
{'RANK': 20, 'OffRtg': 110.9, 'W': 27, 'L': 34, 'DefRtg': 114.5, 'NetRtg': -3.6, 'AST%': 59.2, 'AST/TO': 1.48, 'ASTRatio': 17.1, 'OREB%': 32.3, 'DREB%': 67.9, 'REB%': 49.7, 'TOV%': 16.2, 'eFG%': 52.4, 'TS%': 55.9, 'PACE': 99.5, 'POSS': 6082, 'TEAM': 'POR', 'PIE': 47.0}

   MIN_x  3PM  FT%  OREB  REB  BLK  +/-  OffRtg  NetRtg  AST%  team_pace  Date_in_Seconds  home_away
0     33    2   51     0    5    0   -3   110.9    -3.6  59.2         97       1738173600          0

Tyrese Maxey, MAE: 1.9924591123470212, RMSE: 2.4195383321068116
{'RANK': 20, 'OffRtg': 110.9, 'W': 27, 'L': 34, 'DefRtg': 114.5, 'NetRtg': -3.6, 'AST%': 59.2, 'AST/TO': 1.48, 'ASTRatio': 17.1, 'OREB%': 32.3, 'DREB%': 67.9, 'REB%': 49.7, 'TOV%': 16.2, 'eFG%': 52.4, 'TS%': 55.9, 'PACE': 99.5, 'POSS': 6082, 'TEAM': 'POR', 'PIE': 47.0}

   MIN_x  3PA  3P%  FTM  OREB  REB  STL  BLK  TOV  PF  +/-   W  AST/TO  OREB%  DREB%  TOV%  team_pace  Date_in_Seconds  home_away
0     38    8   32    4     0    3    1    0    2   2   -4  27    1.48   32.3   67.9  16.2         97       1738670400          0

Kelly Oubre Jr., MAE: 1.22939963631922, RMSE: 1.4307868346019033
{'RANK': 20, 'OffRtg': 110.9, 'W': 27, 'L': 34, 'DefRtg': 114.5, 'NetRtg': -3.6, 'AST%': 59.2, 'AST/TO': 1.48, 'ASTRatio': 17.1, 'OREB%': 32.3, 'DREB%': 67.9, 'REB%': 49.7, 'TOV%': 16.2, 'eFG%': 52.4, 'TS%': 55.9, 'PACE': 99.5, 'POSS': 6082, 'TEAM': 'POR', 'PIE': 47.0}

   MIN_x  FGM  FT%  OREB  BLK  PF  +/-  AST%  TOV%  PACE  team_pace  Date_in_Seconds  home_away
0     37    6   55     1    0   3   -5  59.2  16.2  99.5         97       1738791360          0

Andre Drummond, MAE: 1.2081164950832397, RMSE: 1.667903579260189
{'RANK': 20, 'OffRtg': 110.9, 'W': 27, 'L': 34, 'DefRtg': 114.5, 'NetRtg': -3.6, 'AST%': 59.2, 'AST/TO': 1.48, 'ASTRatio': 17.1, 'OREB%': 32.3, 'DREB%': 67.9, 'REB%': 49.7, 'TOV%': 16.2, 'eFG%': 52.4, 'TS%': 55.9, 'PACE': 99.5, 'POSS': 6082, 'TEAM': 'POR', 'PIE': 47.0}

   MIN_x  3PA  3P%  FTM  OREB  REB  STL  BLK  TOV  PF  +/-   W  AST/TO  OREB%  DREB%  TOV%  team_pace  Date_in_Seconds  home_away
0     16    0    0    1     2    7    0    0    1   2   -2  27    1.48   32.3   67.9  16.2         97       1736579520          0

Shaedon Sharpe, MAE: 1.6543838568277724, RMSE: 2.0709026467991873
{'RANK': 24, 'OffRtg': 111.1, 'W': 21, 'L': 38, 'DefRtg': 115.6, 'NetRtg': -4.5, 'AST%': 58.5, 'AST/TO': 1.7, 'ASTRatio': 17.1, 'OREB%': 27.2, 'DREB%': 68.6, 'REB%': 47.1, 'TOV%': 13.7, 'eFG%': 52.7, 'TS%': 56.6, 'PACE': 97.54, 'POSS': 5796, 'TEAM': 'PHI', 'PIE': 46.5}

   MIN_x  3PA  FTA  DREB  REB  STL  BLK  TOV  DefRtg  ASTRatio  REB%   TS%
0     27    6    2     2    3    0    0    1   115.6      17.1  47.1  56.6

Quentin Grimes, MAE: 1.3939327585705197, RMSE: 1.8025659947077033
{'RANK': 20, 'OffRtg': 110.9, 'W': 27, 'L': 34, 'DefRtg': 114.5, 'NetRtg': -3.6, 'AST%': 59.2, 'AST/TO': 1.48, 'ASTRatio': 17.1, 'OREB%': 32.3, 'DREB%': 67.9, 'REB%': 49.7, 'TOV%': 16.2, 'eFG%': 52.4, 'TS%': 55.9, 'PACE': 99.5, 'POSS': 6082, 'TEAM': 'POR', 'PIE': 47.0}

   MIN_x  FGA  3P%  REB  +/-  MIN_y  AST/TO  ASTRatio  PACE  Date_in_Seconds  home_away
0     26    9   37    3   -6   2919    1.48      17.1  99.5       1738571040          0

Deni Avdija, MAE: 1.5256292631570747, RMSE: 1.9106819159767174
{'RANK': 24, 'OffRtg': 111.1, 'W': 21, 'L': 38, 'DefRtg': 115.6, 'NetRtg': -4.5, 'AST%': 58.5, 'AST/TO': 1.7, 'ASTRatio': 17.1, 'OREB%': 27.2, 'DREB%': 68.6, 'REB%': 47.1, 'TOV%': 13.7, 'eFG%': 52.7, 'TS%': 56.6, 'PACE': 97.54, 'POSS': 5796, 'TEAM': 'PHI', 'PIE': 46.5}

   MIN_x  3P%  FTM  OREB  DREB  OffRtg  AST%  OREB%  REB%  Date_in_Seconds  home_away
0     29   27    4     1     5   111.1  58.5   27.2  47.1       1738713600          1

Anfernee Simons, MAE: 1.5368637425014267, RMSE: 2.0636551619991286
{'RANK': 24, 'OffRtg': 111.1, 'W': 21, 'L': 38, 'DefRtg': 115.6, 'NetRtg': -4.5, 'AST%': 58.5, 'AST/TO': 1.7, 'ASTRatio': 17.1, 'OREB%': 27.2, 'DREB%': 68.6, 'REB%': 47.1, 'TOV%': 13.7, 'eFG%': 52.7, 'TS%': 56.6, 'PACE': 97.54, 'POSS': 5796, 'TEAM': 'PHI', 'PIE': 46.5}

   MIN_x  FGA  3PA  REB  STL  +/-  ASTRatio  OREB%  TOV%  team_offrtg  Date_in_Seconds  home_away
0     33   15    8    2    0    2      17.1   27.2  13.7          110       1738916640          1

Bam Adebayo, MAE: 1.8276733698338097, RMSE: 2.299745938697056
{'RANK': 30, 'OffRtg': 105.7, 'W': 11, 'L': 48, 'DefRtg': 117.8, 'NetRtg': -12.1, 'AST%': 63.8, 'AST/TO': 1.56, 'ASTRatio': 17.8, 'OREB%': 27.6, 'DREB%': 69.5, 'REB%': 48.3, 'TOV%': 15.8, 'eFG%': 51.3, 'TS%': 54.7, 'PACE': 102.19, 'POSS': 6050, 'TEAM': 'WAS', 'PIE': 43.6}

   MIN_x  FG%  3PM  3PA  OREB  DREB  STL  TOV  +/-  RANK  OREB%  REB%  TOV%    PACE  team_pace
0     34   53    0    2     2     7    0    2   -3    30   27.6  48.3  15.8  102.19         97

Tyler Herro, MAE: 2.6787440515459586, RMSE: 3.4151918055067796
{'RANK': 30, 'OffRtg': 105.7, 'W': 11, 'L': 48, 'DefRtg': 117.8, 'NetRtg': -12.1, 'AST%': 63.8, 'AST/TO': 1.56, 'ASTRatio': 17.8, 'OREB%': 27.6, 'DREB%': 69.5, 'REB%': 48.3, 'TOV%': 15.8, 'eFG%': 51.3, 'TS%': 54.7, 'PACE': 102.19, 'POSS': 6050, 'TEAM': 'WAS', 'PIE': 43.6}

   MIN_x  3PA  3P%  FTM  OREB  REB  STL  BLK  TOV  PF  +/-   W  AST/TO  OREB%  DREB%  TOV%  team_pace  Date_in_Seconds  home_away
0     36    9   30    4     0    5    0    0    3   0   -1  11    1.56   27.6   69.5  15.8         97       1738774080          0

Andrew Wiggins, MAE: 1.3928119058506425, RMSE: 1.7263533582160413
{'RANK': 30, 'OffRtg': 105.7, 'W': 11, 'L': 48, 'DefRtg': 117.8, 'NetRtg': -12.1, 'AST%': 63.8, 'AST/TO': 1.56, 'ASTRatio': 17.8, 'OREB%': 27.6, 'DREB%': 69.5, 'REB%': 48.3, 'TOV%': 15.8, 'eFG%': 51.3, 'TS%': 54.7, 'PACE': 102.19, 'POSS': 6050, 'TEAM': 'WAS', 'PIE': 43.6}

   MIN_x  3PA  OREB  REB  STL  PF  RANK  GP  MIN_y  DefRtg  REB%  TOV%
0     33    6     1    4    1   1    30  60   2907   117.8  48.3  15.8

Khris Middleton, MAE: 2.043004600184251, RMSE: 2.4709907605505945
{'RANK': 18, 'OffRtg': 111.9, 'W': 28, 'L': 31, 'DefRtg': 112.5, 'NetRtg': -0.7, 'AST%': 66.2, 'AST/TO': 1.91, 'ASTRatio': 19.1, 'OREB%': 26.4, 'DREB%': 71.9, 'REB%': 49.4, 'TOV%': 14.0, 'eFG%': 53.8, 'TS%': 57.4, 'PACE': 97.03, 'POSS': 5818, 'TEAM': 'MIA', 'PIE': 50.0}

   MIN_x  FTM  DREB  STL  BLK  TOV  PF  +/-   W   L  DefRtg  DREB%
0     23    1     3    0    0    1   2    1  28  31   112.5   71.9

Davion Mitchell, MAE: 1.5538089897460903, RMSE: 1.898309264058353
{'RANK': 30, 'OffRtg': 105.7, 'W': 11, 'L': 48, 'DefRtg': 117.8, 'NetRtg': -12.1, 'AST%': 63.8, 'AST/TO': 1.56, 'ASTRatio': 17.8, 'OREB%': 27.6, 'DREB%': 69.5, 'REB%': 48.3, 'TOV%': 15.8, 'eFG%': 51.3, 'TS%': 54.7, 'PACE': 102.19, 'POSS': 6050, 'TEAM': 'WAS', 'PIE': 43.6}

   MIN_x  3PM  3P%  OREB  REB  TOV  PF  +/-  REB%  TOV%  POSS  team_offrtg
0     28    1   45     0    1    1   2    2  48.3  15.8  6050          111

Haywood Highsmith, MAE: 1.1068959949051147, RMSE: 1.5309760962497976
{'RANK': 30, 'OffRtg': 105.7, 'W': 11, 'L': 48, 'DefRtg': 117.8, 'NetRtg': -12.1, 'AST%': 63.8, 'AST/TO': 1.56, 'ASTRatio': 17.8, 'OREB%': 27.6, 'DREB%': 69.5, 'REB%': 48.3, 'TOV%': 15.8, 'eFG%': 51.3, 'TS%': 54.7, 'PACE': 102.19, 'POSS': 6050, 'TEAM': 'WAS', 'PIE': 43.6}

   MIN_x  FTM  OREB  +/-  DefRtg  Date_in_Seconds
0     22    0     0   -1   117.8       1738095840

Mark Williams, MAE: 5.131697536045168e-15, RMSE: 6.620091075326061e-15
{'RANK': 13, 'OffRtg': 113.3, 'W': 32, 'L': 28, 'DefRtg': 111.6, 'NetRtg': 1.7, 'AST%': 70.7, 'AST/TO': 2.1, 'ASTRatio': 20.0, 'OREB%': 31.5, 'DREB%': 71.3, 'REB%': 50.7, 'TOV%': 13.8, 'eFG%': 53.1, 'TS%': 55.9, 'PACE': 99.62, 'POSS': 5988, 'TEAM': 'GSW', 'PIE': 50.4}

   FGM  FTM
0    6    4

LaMelo Ball, MAE: 2.2500519965736505e-15, RMSE: 3.2269124482882016e-15
{'RANK': 13, 'OffRtg': 113.3, 'W': 32, 'L': 28, 'DefRtg': 111.6, 'NetRtg': 1.7, 'AST%': 70.7, 'AST/TO': 2.1, 'ASTRatio': 20.0, 'OREB%': 31.5, 'DREB%': 71.3, 'REB%': 50.7, 'TOV%': 13.8, 'eFG%': 53.1, 'TS%': 55.9, 'PACE': 99.62, 'POSS': 5988, 'TEAM': 'GSW', 'PIE': 50.4}

   MIN_x  FGM  FGA  FG%  3PM  FTM  FTA
0     30    7   19   37    3    3    4

Stephen Curry, MAE: 0.0, RMSE: 0.0
{'RANK': 29, 'OffRtg': 106.4, 'W': 14, 'L': 45, 'DefRtg': 113.9, 'NetRtg': -7.5, 'AST%': 62.3, 'AST/TO': 1.53, 'ASTRatio': 17.1, 'OREB%': 31.3, 'DREB%': 70.7, 'REB%': 50.1, 'TOV%': 15.7, 'eFG%': 49.9, 'TS%': 53.3, 'PACE': 98.39, 'POSS': 5832, 'TEAM': 'CHA', 'PIE': 45.3}

   FGM  3PM  FTM  FTA
0    8    4    4    4

Josh Green, MAE: 3.14563190310461e-15, RMSE: 3.824499437962166e-15
{'RANK': 13, 'OffRtg': 113.3, 'W': 32, 'L': 28, 'DefRtg': 111.6, 'NetRtg': 1.7, 'AST%': 70.7, 'AST/TO': 2.1, 'ASTRatio': 20.0, 'OREB%': 31.5, 'DREB%': 71.3, 'REB%': 50.7, 'TOV%': 13.8, 'eFG%': 53.1, 'TS%': 55.9, 'PACE': 99.62, 'POSS': 5988, 'TEAM': 'GSW', 'PIE': 50.4}

   FGM  3PM  FTM  FTA
0    3    1    0    1

Moses Moody, MAE: 3.47585208478799e-15, RMSE: 4.241038540156132e-15
{'RANK': 29, 'OffRtg': 106.4, 'W': 14, 'L': 45, 'DefRtg': 113.9, 'NetRtg': -7.5, 'AST%': 62.3, 'AST/TO': 1.53, 'ASTRatio': 17.1, 'OREB%': 31.3, 'DREB%': 70.7, 'REB%': 50.1, 'TOV%': 15.7, 'eFG%': 49.9, 'TS%': 53.3, 'PACE': 98.39, 'POSS': 5832, 'TEAM': 'CHA', 'PIE': 45.3}

   MIN_x  FGM  3PM  FTM
0     26    4    2    1

Draymond Green, MAE: 1.0362081563168128e-15, RMSE: 1.4654196281048567e-15
{'RANK': 29, 'OffRtg': 106.4, 'W': 14, 'L': 45, 'DefRtg': 113.9, 'NetRtg': -7.5, 'AST%': 62.3, 'AST/TO': 1.53, 'ASTRatio': 17.1, 'OREB%': 31.3, 'DREB%': 70.7, 'REB%': 50.1, 'TOV%': 15.7, 'eFG%': 49.9, 'TS%': 53.3, 'PACE': 98.39, 'POSS': 5832, 'TEAM': 'CHA', 'PIE': 45.3}

   FGM  3PM  FTM
0    3    0    1

Paul George, MAE: 4.7073456244106636e-15, RMSE: 5.931542495241615e-15
{'RANK': 20, 'OffRtg': 110.9, 'W': 27, 'L': 34, 'DefRtg': 114.5, 'NetRtg': -3.6, 'AST%': 59.2, 'AST/TO': 1.48, 'ASTRatio': 17.1, 'OREB%': 32.3, 'DREB%': 67.9, 'REB%': 49.7, 'TOV%': 16.2, 'eFG%': 52.4, 'TS%': 55.9, 'PACE': 99.5, 'POSS': 6082, 'TEAM': 'POR', 'PIE': 47.0}

   FGM  3PM  FTM  FTA
0    6    2    1    1

Tyrese Maxey, MAE: 4.67116057768214e-15, RMSE: 5.150640743817898e-15
{'RANK': 20, 'OffRtg': 110.9, 'W': 27, 'L': 34, 'DefRtg': 114.5, 'NetRtg': -3.6, 'AST%': 59.2, 'AST/TO': 1.48, 'ASTRatio': 17.1, 'OREB%': 32.3, 'DREB%': 67.9, 'REB%': 49.7, 'TOV%': 16.2, 'eFG%': 52.4, 'TS%': 55.9, 'PACE': 99.5, 'POSS': 6082, 'TEAM': 'POR', 'PIE': 47.0}

   FGM  3PM  FTM
0   10    3    4

Kelly Oubre Jr., MAE: 3.484392261900491e-15, RMSE: 4.447718992766879e-15
{'RANK': 20, 'OffRtg': 110.9, 'W': 27, 'L': 34, 'DefRtg': 114.5, 'NetRtg': -3.6, 'AST%': 59.2, 'AST/TO': 1.48, 'ASTRatio': 17.1, 'OREB%': 32.3, 'DREB%': 67.9, 'REB%': 49.7, 'TOV%': 16.2, 'eFG%': 52.4, 'TS%': 55.9, 'PACE': 99.5, 'POSS': 6082, 'TEAM': 'POR', 'PIE': 47.0}

   FGM  FGA  FG%  3PM  FTM
0    6   13   49    1    2

Andre Drummond, MAE: 7.0246838649009905e-15, RMSE: 8.648604323270974e-15
{'RANK': 20, 'OffRtg': 110.9, 'W': 27, 'L': 34, 'DefRtg': 114.5, 'NetRtg': -3.6, 'AST%': 59.2, 'AST/TO': 1.48, 'ASTRatio': 17.1, 'OREB%': 32.3, 'DREB%': 67.9, 'REB%': 49.7, 'TOV%': 16.2, 'eFG%': 52.4, 'TS%': 55.9, 'PACE': 99.5, 'POSS': 6082, 'TEAM': 'POR', 'PIE': 47.0}

   MIN_x  FGM  3PM  3P%  FTM
0     16    2    0    0    1

Shaedon Sharpe, MAE: 4.349011572324751e-15, RMSE: 5.7984304619891e-15
{'RANK': 24, 'OffRtg': 111.1, 'W': 21, 'L': 38, 'DefRtg': 115.6, 'NetRtg': -4.5, 'AST%': 58.5, 'AST/TO': 1.7, 'ASTRatio': 17.1, 'OREB%': 27.2, 'DREB%': 68.6, 'REB%': 47.1, 'TOV%': 13.7, 'eFG%': 52.7, 'TS%': 56.6, 'PACE': 97.54, 'POSS': 5796, 'TEAM': 'PHI', 'PIE': 46.5}

   MIN_x  FGM  3PM  FTM  FTA
0     27    6    2    2    2

Quentin Grimes, MAE: 1.1952661083114435e-14, RMSE: 1.845985754658199e-14
{'RANK': 20, 'OffRtg': 110.9, 'W': 27, 'L': 34, 'DefRtg': 114.5, 'NetRtg': -3.6, 'AST%': 59.2, 'AST/TO': 1.48, 'ASTRatio': 17.1, 'OREB%': 32.3, 'DREB%': 67.9, 'REB%': 49.7, 'TOV%': 16.2, 'eFG%': 52.4, 'TS%': 55.9, 'PACE': 99.5, 'POSS': 6082, 'TEAM': 'POR', 'PIE': 47.0}

   FGM  FGA  FG%  3PM  FTM  FTA  FT%
0    4    9   43    2    1    1   44

Deni Avdija, MAE: 6.252776074688882e-15, RMSE: 8.581844446937597e-15
{'RANK': 24, 'OffRtg': 111.1, 'W': 21, 'L': 38, 'DefRtg': 115.6, 'NetRtg': -4.5, 'AST%': 58.5, 'AST/TO': 1.7, 'ASTRatio': 17.1, 'OREB%': 27.2, 'DREB%': 68.6, 'REB%': 47.1, 'TOV%': 13.7, 'eFG%': 52.7, 'TS%': 56.6, 'PACE': 97.54, 'POSS': 5796, 'TEAM': 'PHI', 'PIE': 46.5}

   MIN_x  FGM  3PM  FTM  FTA  FT%
0     29    5    1    4    6   75

Anfernee Simons, MAE: 3.546134422223224e-15, RMSE: 4.21428299602563e-15
{'RANK': 24, 'OffRtg': 111.1, 'W': 21, 'L': 38, 'DefRtg': 115.6, 'NetRtg': -4.5, 'AST%': 58.5, 'AST/TO': 1.7, 'ASTRatio': 17.1, 'OREB%': 27.2, 'DREB%': 68.6, 'REB%': 47.1, 'TOV%': 13.7, 'eFG%': 52.7, 'TS%': 56.6, 'PACE': 97.54, 'POSS': 5796, 'TEAM': 'PHI', 'PIE': 46.5}

   FGM  3PM  3PA  FTM  FTA
0    6    3    8    3    3

Bam Adebayo, MAE: 3.914564146085737e-15, RMSE: 6.136839899872114e-15
{'RANK': 30, 'OffRtg': 105.7, 'W': 11, 'L': 48, 'DefRtg': 117.8, 'NetRtg': -12.1, 'AST%': 63.8, 'AST/TO': 1.56, 'ASTRatio': 17.8, 'OREB%': 27.6, 'DREB%': 69.5, 'REB%': 48.3, 'TOV%': 15.8, 'eFG%': 51.3, 'TS%': 54.7, 'PACE': 102.19, 'POSS': 6050, 'TEAM': 'WAS', 'PIE': 43.6}

   FGM  FGA  FG%  3PM  FTM
0    7   14   53    0    2

Tyler Herro, MAE: 6.447517417082391e-15, RMSE: 7.154600451994125e-15
{'RANK': 30, 'OffRtg': 105.7, 'W': 11, 'L': 48, 'DefRtg': 117.8, 'NetRtg': -12.1, 'AST%': 63.8, 'AST/TO': 1.56, 'ASTRatio': 17.8, 'OREB%': 27.6, 'DREB%': 69.5, 'REB%': 48.3, 'TOV%': 15.8, 'eFG%': 51.3, 'TS%': 54.7, 'PACE': 102.19, 'POSS': 6050, 'TEAM': 'WAS', 'PIE': 43.6}

   FGM  3PM  FTM  FTA  FT%
0    8    3    4    5   79

Andrew Wiggins, MAE: 1.6875389974302379e-15, RMSE: 3.2994363900596664e-15
{'RANK': 30, 'OffRtg': 105.7, 'W': 11, 'L': 48, 'DefRtg': 117.8, 'NetRtg': -12.1, 'AST%': 63.8, 'AST/TO': 1.56, 'ASTRatio': 17.8, 'OREB%': 27.6, 'DREB%': 69.5, 'REB%': 48.3, 'TOV%': 15.8, 'eFG%': 51.3, 'TS%': 54.7, 'PACE': 102.19, 'POSS': 6050, 'TEAM': 'WAS', 'PIE': 43.6}

   FGM  3PM  FTM  FTA
0    6    2    4    6

Khris Middleton, MAE: 2.0230730670947296e-15, RMSE: 2.485841995025279e-15
{'RANK': 18, 'OffRtg': 111.9, 'W': 28, 'L': 31, 'DefRtg': 112.5, 'NetRtg': -0.7, 'AST%': 66.2, 'AST/TO': 1.91, 'ASTRatio': 19.1, 'OREB%': 26.4, 'DREB%': 71.9, 'REB%': 49.4, 'TOV%': 14.0, 'eFG%': 53.8, 'TS%': 57.4, 'PACE': 97.03, 'POSS': 5818, 'TEAM': 'MIA', 'PIE': 50.0}

   FGM  3PM  FTM  FTA
0    4    1    1    2

Davion Mitchell, MAE: 7.401486830834377e-16, RMSE: 1.3506446028928519e-15
{'RANK': 30, 'OffRtg': 105.7, 'W': 11, 'L': 48, 'DefRtg': 117.8, 'NetRtg': -12.1, 'AST%': 63.8, 'AST/TO': 1.56, 'ASTRatio': 17.8, 'OREB%': 27.6, 'DREB%': 69.5, 'REB%': 48.3, 'TOV%': 15.8, 'eFG%': 51.3, 'TS%': 54.7, 'PACE': 102.19, 'POSS': 6050, 'TEAM': 'WAS', 'PIE': 43.6}

   FGM  3PM  FTM
0    3    1    0

Haywood Highsmith, MAE: 1.0732155904709846e-15, RMSE: 1.2690906251431504e-15
{'RANK': 30, 'OffRtg': 105.7, 'W': 11, 'L': 48, 'DefRtg': 117.8, 'NetRtg': -12.1, 'AST%': 63.8, 'AST/TO': 1.56, 'ASTRatio': 17.8, 'OREB%': 27.6, 'DREB%': 69.5, 'REB%': 48.3, 'TOV%': 15.8, 'eFG%': 51.3, 'TS%': 54.7, 'PACE': 102.19, 'POSS': 6050, 'TEAM': 'WAS', 'PIE': 43.6}

   FGM  3PM  FTM
0    2    1    0

               Player  REB        RMSE_x  AST    RMSE_y  PTS          RMSE  total_points
0       Mark Williams   10  2.960595e-16    2  1.254458   16  6.620091e-15            28
1         LaMelo Ball    5  1.503796e-15    8  2.719346   19  3.226912e-15            32
2       Stephen Curry    2  9.930137e-17    6  2.693355   24  0.000000e+00            32
3          Josh Green    1  5.786666e-16    1  1.200567    7  3.824499e-15             9
4         Moses Moody    2  8.806741e-16    1  1.274391   11  4.241039e-15            14
5      Draymond Green    5  7.638248e-16    4  2.351186    7  1.465420e-15            16
6         Paul George    4  4.183641e-16    5  2.614605   15  5.931542e-15            24
7        Tyrese Maxey    2  8.673751e-16    4  2.419538   27  5.150641e-15            33
8     Kelly Oubre Jr.    6  1.063106e-15    1  1.430787   15  4.447719e-15            22
9      Andre Drummond    6  1.037169e-15    0  1.667904    4  8.648604e-15            10
10     Shaedon Sharpe    2  5.219636e-16    1  2.070903   16  5.798430e-15            19
11     Quentin Grimes    3  1.136556e-15    2  1.802566   10  1.845986e-14            15
12        Deni Avdija    6  2.464595e-15    2  1.910682   15  8.581844e-15            23
13    Anfernee Simons    1  6.661338e-16    5  2.063655   18  4.214283e-15            24
14        Bam Adebayo    9  1.184238e-15    3  2.299746   16  6.136840e-15            28
15        Tyler Herro    4  1.457924e-15    3  3.415192   23  7.154600e-15            30
16     Andrew Wiggins    4  1.078689e-15    2  1.726353   18  3.299436e-15            24
17    Khris Middleton    2  5.080947e-16    5  2.470991    9  2.485842e-15            16
18    Davion Mitchell    1  3.792134e-16    5  1.898309    6  1.350645e-15            12
19  Haywood Highsmith    2  1.146633e-15    0  1.530976    5  1.269091e-15             7